:root {
	--special-font: "Times New Roman";
	--accent-color: hsl(51, 100%, 50%);
	--accent-color-hover: hsl(51, 100%, 45%);
	--nav-height: 40px;
	--content-spacing: 10px;
	--text-color: hsl(0, 0%, 0%);
	--text-color-hover: hsl(0, 0%, 50%);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: hsl(0, 0%, 15%);
}

::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 7%);
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 auto;
	width: 60%;
	font-family: var(--special-font);
	font-size: 4em;
	font-weight: 900;
	line-height: 85%;
	text-align: center;
}

.no-scroll {
	overflow: hidden;
}

button {
	border: none;
	cursor: pointer;
}

/******************/
/* Navigation Bar */
/******************/

.nav {
	min-height: var(--nav-height);
	overflow: hidden;
}

.nav .logo {
	margin: var(--content-spacing) auto;
	float: left;
	margin-left: var(--content-spacing);
	margin-right: 40px;
	height: var(--nav-height);
}

.nav .logo img {
	height: var(--nav-height);
	background: var(--text-color);
	transition: background 0.4s;
}

.nav .logo:hover img {
	background: var(--text-color-hover);
}

.nav ul {
	margin: var(--content-spacing) auto;
	float: left;
	list-style-type: none;
	vertical-align: top;
	z-index: 1;
}

.nav ul li {
	display: inline-block;
	margin-right: 40px;
	line-height: var(--nav-height);
}

.nav a {
	color: var(--text-color);
	text-decoration: none;
	transition: color 0.4s;
}

.nav a:hover {
	color: var(--text-color-hover);
}

.nav .button {
	float: right;
	height: calc(var(--nav-height) + (var(--content-spacing) * 2)); /* nav height + nav top and bottom margin */
	padding: 0 50px;
	line-height: calc(var(--nav-height) + (var(--content-spacing) * 2)); /* nav height + nav top and bottom margin */
	color: var(--text-color);
	background: var(--accent-color);
	font-weight: 600;
	transition: color 0.4s, background 0.4s;
}

.nav .button:hover {
	color: var(--text-color);
	background: var(--accent-color-hover);
}

.nav .mobile-menu-icon {
	display: none;
	float: right;
	margin-right: 2%;
	padding-top: 20px;
	height: var(--nav-height);
	cursor: pointer;
}

.nav .mobile-menu-icon .bar {
	width: 30px;
	height: 3px;
	background: var(--text-color);
	transition: transform 0.4s;
}

.nav .mobile-menu-icon:hover .bar {
	background: var(--text-color-hover);
}

.nav .mobile-menu-icon.active {
	position: relative;
	right: 4px;
}

.nav .mobile-menu-icon .bar:nth-child(2) {
	margin: 5px 0;
}

.nav .mobile-menu-icon.active .bar:nth-child(1) {
	transform: rotate(-45deg) translate(0, 10px);
}

.nav .mobile-menu-icon.active .bar:nth-child(2) {
	display: none;
}

.nav .mobile-menu-icon.active .bar:nth-child(3) {
	transform: rotate(45deg) translate(8px, -2px);
}

.nav ul.active {
	left: 0;
}

@media screen and (max-width: 947px) {
	.nav .logo,
	.nav ul li {
		margin-right: 20px;
	}
}

@media screen and (max-width: 807px) {
	.nav {
		margin-bottom: 0;
	}

	.nav .logo {
		margin-bottom: var(--content-spacing);
	}

	.nav .button {
		display: block;
		width: 100%;
		margin-right: 0;
		text-align: center;
		height: var(--nav-height);
		line-height: var(--nav-height);
	}

	.nav ul {
		display: block;
		position: absolute;
		top: calc((var(--nav-height) * 2) + (var(--content-spacing) * 2)); /* (nav height + button height) + (nav top margin + logo bottom margin) */
		left: -100%;
		width: 100%;
		text-align: center;
		background: hsl(0, 0%, 95%);
		transition: left 0.4s;
		margin: 0;
	}

	.nav ul li {
		display: block;
		margin: 0;
		height: 60px; /*20%; /* use 20% for more centered but more space */
		line-height: 60px;
		padding-bottom: 1%;
	}

	.nav ul li a {
		display: block;
		height: 100%;
		width: 100%;
	}

	.nav ul li a:hover {
		background: hsl(0, 0%, 90%);
	}

	.nav ul li:first-child {
		margin-top: 5px;
	}

	.nav .mobile-menu-icon {
		display: inline-block;
	}

	section.intro img {
		width: 100%;
	}
}


section .button {
	color: var(--text-color);
	padding: 0 50px;
	line-height: var(--nav-height);
	background: var(--accent-color);
	font-weight: 600;
	text-decoration: none;
	display: inline-block;
	transition: color 0.4s, background 0.4s;
}

section .button:hover {
	/* color: hsl(0, 0%, 30%); */
	background: var(--accent-color-hover);
}

/*********/
/* Intro */
/*********/

section.intro {
	background-image: url("../images/band-header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - var(--nav-height));
	padding: 40px 0;
}

section.intro h1 {
	font-size: 4em;
	color: hsl(0, 0%, 100%);
	width: 70%;
}

section.intro .artists {
	color: hsl(0, 0%, 100%);
	font-size: 1.5em;
	font-family: var(--special-font);
	width: 55%;
	text-transform: uppercase;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5%;
}

section.intro .overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background: hsla(0, 0%, 0%, 0.4);
	top: 0;
	left: 0;
	z-index: -1;
}

section.intro .button {
	width: 400px;
	height: 60px;
	border-radius: 100px;
	line-height: 60px;
	text-align: center;
}

@media screen and (max-width: 810px) {
	section.intro h1 {
		width: 100%;
	}
}

/***************/
/* Description */
/***************/

section.description {
	background: hsl(0, 0%, 0%);
	padding: max(40px, 5%) 0;
}

section.description p {
	width: 70%;
	line-height: 180%;
	margin: 0 auto;
	color: hsl(0, 0%, 100%);
	font-size: 1.3em;
	letter-spacing: -1px;
}



/*********/
/* Shows */
/*********/

section.shows {
	background-image: url("../images/band-performing.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 32px;
	z-index: 0;
	text-align: center;
	overflow: hidden;
}

section.shows h2 {
	width: 39%;
	color: hsl(0, 0%, 100%);
	margin-bottom: 30px;
}

section.shows .overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background: hsla(0, 0%, 0%, 0.3);
	top: 0;
	left: 0;
	z-index: -1;
}

section.shows .show {
	width: 30vw;
	height: 30vw;
	min-height: 350px;
	min-width: 350px;
	background: hsla(0, 0%, 0%, 0.7);
	font-size: 1em;
	font-family: var(--special-font);
	padding: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

@media screen and (max-width: 810px) {
	section.shows .show {
		margin-right: 0;
	}

	section.shows h2 {
		width: 100%;
		line-height: 100%;
	}
}

@media screen and (max-width: 400px) {
	section.shows {
		padding-left: 0;
		padding-right: 0;
	}
}

section.shows span {
	color: var(--accent-color);
	font-family: var(--special-font);
	font-weight: 900;
	display: block;
}

section.shows .show:last-child {
	margin-right: 0;
}

section.shows .show .date {
	font-size: 4em;
}


section.shows .show .time,
section.shows .show .location,
section.shows .show .access {
	font-size: 3em;
}

section.shows .show .date,
section.shows .show .time,
section.shows .show .location,
section.shows .show .access {
	line-height: 80%;
	margin-bottom: 10px;
}

section.shows .show .location {
	color: hsl(0, 100%, 100%);
}

section.shows .show .access {
	color: hsl(0, 0%, 40%);
}

section.shows .show .access {
	text-transform: uppercase;
	margin-bottom: 30px;
}

section.shows .show .button {
	color: hsl(0, 0%, 0%);
	font-weight: 600;
	font-family: Arial;
	cursor: pointer;
}

section.shows .show .details  {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
}

section.shows .show .details.active {
	display: flex;
}

section.shows .show .details span {
	position: relative;
	z-index: 1;
}

section.shows .show .details .description {
	font-family: Arial;
	width: 80%;
	font-weight: normal;
	margin: 0 auto;
	color: hsl(0, 0%, 100%);
}

section.shows .show .details .overlay {
	background:hsla(0, 0%, 0%, 0.97);
	z-index: 0;
}

section.shows .show .details .close {
	height: var(--nav-height);
	cursor: pointer;
	width: 200px;
	margin: 0 auto;
	margin-top: 2%;
}

section.shows .show .details .close .bar {
	width: 30px;
	height: 3px;
	background: white;
	transition: transform 0.4s;
}

section.shows .show .details .close:hover .bar {
	background: var(--text-color-hover);
}

section.shows .show .details .close .bar:nth-child(2) {
	margin: 5px 0;
}

section.shows .show .details .close .bar:nth-child(1) {
	transform: rotate(-45deg) translate(0, 10px);
}

section.shows .show .details .close .bar:nth-child(2) {
	display: none;
}

section.shows .show .details .close .bar:nth-child(3) {
	transform: rotate(45deg) translate(8px, -2px);
}

/**********/
/* Videos */
/**********/
section.videos {
	background: hsl(0, 0%, 0%);
	padding: var(--content-spacing);
	padding-bottom: calc(var(--content-spacing) * 2);
	text-align: center;
}

section.videos .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 30px;
	justify-items: center;
}

section.videos .video {
	width: 350px;
	height: 350px;
}

section.videos .video iframe {
	width: 100%;
	height: 100%;
}

section.videos button {
	margin-top: calc(var(--content-spacing) * 2);
	color:hsl(0, 0%, 100%);
	background: none;
	border: 2px solid hsl(0, 0%, 100%);
	transition: 0.4s;
}

section.videos button:hover {
	background: none;
	color: hsl(0, 0%, 80%);
	border-color: hsl(0, 0%, 80%);
}

/**********/
/* Photos */
/**********/

section.photos {
	background: hsl(0, 100%, 100%);
	padding: var(--content-spacing);
	padding-bottom: calc(var(--content-spacing) * 2);
	padding-top: 30px;
	text-align: center;
}

section.photos h2 {
	margin-bottom: 30px;
}

section.photos .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 10px;
	justify-items: center;
}

section.photos .img {
	width: 350px;
	height: 350px;
	background: gray;
	max-width: 100%;
}

section.photos img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section.photos button {
	margin-top: calc(var(--content-spacing) * 2);
	background: none;
	border: 2px solid hsl(0, 0%, 0%);
	transition: 0.4s;
}

section.photos button:hover {
	background: none;
	border-color: hsl(0, 0%, 50%);
	color: hsl(0, 0%, 50%);
}

/**************/
/* CTA Banner */
/**************/

section.cta-banner {
	height: 175px;
	background: var(--accent-color);
	padding: var(--content-spacing);
}

section.cta-banner h2 {
	color: var(--text-color);
	width: 100%;
	font-size: 3em;
}

section.cta-banner .container {
	height: 100%;
	float: left;
	display: flex;
	align-items: center;
}

section.cta-banner .container:nth-child(1) {
	width: 60%;
}

section.cta-banner .container:nth-child(2) {
	width: 40%;
	justify-content: left;
}

section.cta-banner .button {
	background: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
	display: inline-block;
	width: 400px;
	max-width: 100%;
	text-align: center;
	transition: 0.4s;
}

section.cta-banner .button:hover {
	background: hsl(0, 0%, 5%);
}

@media screen and (max-width: 600px) {
	section.cta-banner {
		min-height: 175px;
		height: 100%;
		padding-top: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	section.cta-banner .container:nth-child(1),
	section.cta-banner .container:nth-child(2) {
		width: 100%;
		display: block;
		text-align: center;
	}

	section.cta-banner h2 {
		margin-bottom: 10px;
	}
}

/*********/
/* Video */
/*********/

section.video {
	max-height: 100vh;
	overflow: hidden;
}

section.video .container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

section.video .container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 100vh;
}

/*********/
/* About */
/*********/

section.about {
	background: hsl(0, 0%, 100%);
	padding: 30px;
	padding-bottom: 0;
}

section.about h2 {
	color: hsl(0, 0%, 0%);
	margin-bottom: 30px;
}

section.about h3 {
	font-size: 3em;
	width: 100%;
	margin-bottom: 12px;
	text-align: left;
}

section.about p {
	line-height: 140%;
	margin-bottom: 10px;
}

section.about .about-member {
	overflow: hidden;
	padding: 30px 30px 0;
}

section.about .about-member img {
	float: right;
	margin: 10px 10px 0;
}

section.about .about-member:nth-child(odd) {
	background: hsl(0, 100%, 100%);
}

section.about .about-member:nth-child(even) {
	background: hsl(0, 0%, 0%);
	color: white;

}

section.about .about-member:nth-child(odd) img {
	float: left;
}

@media screen and (max-width: 480px) {
	section.about h3 {
		font-size: 2em;
	}

	section.about .about-member img {
		float: none;
		max-width: 100%;
	}
}

/***********/
/* Contact */
/***********/

section.contact {
	padding: 30px;
	background: var(--accent-color);
	text-align: center;
	font-weight: 600;
}

section.contact h2 {
	margin-bottom: 15px;
}

section.contact p {
	margin-bottom: 30px;
}

section.contact form {
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
}

section.contact input {
	width: 100%;
	height: 50px;
	padding-left: 5px;
	border: none;
	outline: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}

section.contact .container {
	width: 49%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
}

section.contact label {
	display: block;
	text-align: left;
	color: red;
}

section.contact textarea {
	width: 100%;
	min-height: 100px;
	resize: none;
	padding-top: 5px;
	padding-left: 5px;
	margin-bottom: 2%;
	outline: none;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}

section.contact .container:nth-of-type(2n) {
	margin-right: 0;
}

section.contact input[type="submit"] {
	width: 100%;
	background: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
	font-weight: 600;
	transition: 0.4s;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}

section.contact input[type="submit"]:hover {
	background: hsl(0, 0%, 5%);
}

section.contact input[type="date"] {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.error {
	color: red;
	margin-bottom: 10px;
}

section.contact .success {
	color: hsl(0, 0%, 0%);
	font-size: 2em;
}

@media screen and (max-width: 810px) {
	section.contact h2 {
		width: 100%;
	}
}

/**********/
/* Footer */
/**********/

footer {
	background: hsl(0, 0%, 0%);
	overflow: hidden;
	padding: 20px;
}

footer .container.links {
	width: 40%;
	float: left;
	margin-bottom: 10px;
	overflow: hidden;
}

footer .container.links .img {
	width: 50%;
	float: left;
	position: relative;
	top: 40px;
}

footer .container.links ul {
	width: 50%;
	float: left;
	color: hsl(0, 0%, 100%);
	list-style-type: none;
}

footer .container.links ul li {
	margin-bottom: 5px;
}

footer .container.links ul li:first-child {
	font-weight: 600;
}

footer .container.links a:hover {
	color: hsl(0, 0%, 80%);
}

footer .container a {
	color: hsl(0, 0%, 100%);
	text-decoration: none;
}

footer .container.cta {
	width: 60%;
	float: left;
	position: relative;
	top: 30px;
	overflow: hidden;
}

footer img {
	display: block;
	margin: 0 auto;
}

footer .logo {
	height: 30px;
	margin-bottom: 10px;
}

footer .container label {
	font-size: 2em;
	color: hsl(0, 0%, 100%);
	display: block;
	margin-bottom: 5px;
}

footer .container input[type="email"],
footer .container input[type="text"] {
	width: 327px;
	background: hsl(0, 0%, 100%);
	float: left;
	border: none;
	padding-left: 5px;
	margin-right: 5px;
	outline: none;
	border-radius: 0;
	-webkit-border-radius: 0;
}

footer .container input[type="text"] {
	width: 150px;
}

footer .container input[type="submit"] {
	width: 90px;
	background: var(--accent-color);
	float: left;
	border: none;
	font-weight: 600;
	cursor: pointer;
	outline: none;
	color: hsl(0, 0%, 0%);
	border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}

footer .container input {
	height: 40px;
}

footer .copyright {
	clear: both;
	font-size: 0.6em;
	color: hsl(0, 0%, 100%);
}

footer .success {
	color: hsl(0, 100%, 100%);
	font-size: 1.5em;
}

@media screen and (max-width: 1000px) {
	footer .container.links,
	footer .container.cta {
		width: 100%;
		float: none;
		display: block;
		margin: 0 auto;
	}

	footer .container.cta {
		text-align: center;
	}

	footer .container.cta input[type="email"],
	footer .container.cta input[type="text"],
	footer .container.cta input[type="submit"] {
		float: none;
	}

	footer .copyright {
		margin-top: 50px;
	}
}

@media screen and (max-width: 630px) {
	footer .container.cta input[type="text"],
	footer .container.cta input[type="submit"] {
		width: 327px;
	}

	footer .container.cta input[type="email"],
	footer .container.cta input[type="text"] {
		margin-right: 0;
		margin-bottom: 5px;
	}

}
